
/* Стилі для галереї */
body ul.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    list-style: none;
    padding: 30px;
    margin: 0;
 
}

/* Стилі для кожного елементу галереї */
body ul.gallery li {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стилі для зображень */
body ul.gallery li img {
    display: block;
    object-fit: cover;
}